body {
    overflow-x: hidden;
}

.keepdisplay {
    display: block!important;
}

.bg-white {
    background-color: #ffffff;
    transition: 0.5s;
}

.bg-transparent {
    transition: 0.5s;
}

.bg-lightblue {
    background-color: #cee7ef;
}

.bg-darkblue {
    background-color: #02026e;
}

footer ul a:hover {
    text-decoration: underline gray 1px;
}

footer ul a span {
    color: #a9a9a9!important; 
}

footer div .links:hover {
    background-color: #c2c2c2;
    border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 425px) {
    header {
        background-color: #fff;
    }

    header .searchbar {
        display: none;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 550px;
        margin: 1.75rem auto;
    }
}

.hr-width .width {
    width: 45%;
}

.underline-hover:hover {
    text-decoration: underline;
}

.profilebg {
    background-color: #ededed;
}

.profileimage {
    cursor: pointer;
    position: relative;
}

.imagepfp {
    border-radius: 50%;
}

.imagefp {
    visibility: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.profileimage:hover .imagefp {
    background-color: rgba(31, 31, 31, 0.8);
    visibility: visible;
    border-radius: 50%;
    transition: 0.3s;
}

.btn-lightgray {
    background-color: #ebebeb;
    color: #000;
}

.btn-lightgray:hover {
    background-color: #dbd9d9;
    color: #000;
}

.btn-green {
    background-color: #529a52;
    color: #fff;
}

.btn-green:hover {
    background-color: #468346;
    color: #fff;
}

.btn-greenshadow {
    background-color: #529a52;
    color: #fff;
}

.btn-greenshadow:hover {
    color: #fff;
    box-shadow: gray 0px 2px 8px;
}

.resize {
    resize: none;
}

.text-orange {
    color: #ffa600!important;
}

.smaller {
    font-size: .675em;
}

.gigimage {
    cursor: pointer;
}

.removebuttonholder1, .removebuttonholder2, .removebuttonholder3, .removebuttonholder4, .removebuttonholder5, .removebuttonholder6 {
    position: relative;
}

.removebutton1, .removebutton2, .removebutton3, .removebutton4, .removebutton5, .removebutton6 {
    visibility: hidden;
    position: absolute;
    top: 16px;
    right: 16px;
    background: rgba(0, 0, 0, 0.8);
}

.removebuttonholder1:hover>.removebutton1,
.removebuttonholder2:hover>.removebutton2,
.removebuttonholder3:hover>.removebutton3,
.removebuttonholder4:hover>.removebutton4,
.removebuttonholder5:hover>.removebutton5,
.removebuttonholder6:hover>.removebutton6 {
    visibility: visible;
}

.countdown-container .bg{
    background-color: #efefef;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}